
body {
    background-color: #000000;
    background-size: cover; 
    background-position: center;
    color: #343a40;
    font-family: Arial, sans-serif;
}

#searchModal {
    position: relative;
    top: 0;
    left: -500px;
}
 

#resultModal {
    position: relative;
    top: 100px;
    left: -500px;
   
}

#modal-content {
    width: 1500px;
}

#td{ 
    color: #ffffff; 
    font-size: 20px;
    font-weight: bold;
}




#modal-body{
    background-color: #000000; 
    color: #ffffff; 
    padding: 10px;
    margin: 0;
    font-family: 'YourPreferredFont', sans-serif; 
    border: 2px solid #ffffff;
}


#modal-title{
    background-color: #000000; 
    color: #ffffff; 
    padding: 10px;
    margin: 0;
    font-family: 'YourPreferredFont', sans-serif; 
    font-size: 60px; 
    font-weight: bold; 
}

#modal-title2{
    background-color: #000000; 
    color: #ffffff; 
    padding: 10px;
    margin: 0;
    font-family: 'YourPreferredFont', sans-serif; 
    font-size: 60px; 
    font-weight: bold; 
}

#modal-header{
    background-color: #000000; 
    color: #000000; 
    padding: 10px;
    margin: 0;
    font-family: 'YourPreferredFont', sans-serif; 
    
}
#modal-header2{
    background-color: #000000; 
    color: #000000; 
    padding: 10px;
    margin: 0;
    font-family: 'YourPreferredFont', sans-serif;
    
}

#modal-body{
    background-color: #000000; 
    color: #ffffff; 
    padding: 10px;
    margin: 0;
    font-family: 'YourPreferredFont', sans-serif; 
}

.modal-dialog {
    margin: 50px auto;
}


.modal-header {
    background-color: #007bff;
    color: #fff;
}


.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}


.btn {
    margin-right: 10px;
}